<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReserveMapper">

    <sql id="Base_Column_List">
        id,user_id,doctor_id,time,status
    </sql>

    <select id="selectAll" resultType="com.example.entity.Reserve">
        select reserve.*, user.name as userName, doctor.name as doctorName
        from reserve
        left join user on reserve.user_id = user.id
        left join doctor on reserve.doctor_id = doctor.id
        <where>
            <if test="id != null">and reserve.id= #{id}</if>
            <if test="status != null">and status= #{status}</if>
            <if test="doctorId != null">and reserve.doctor_id= #{doctorId}</if>
            <if test="time != null">and reserve.time= #{time}</if>
            <if test="userId != null">and user.id= #{userId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Reserve">
        select
        <include refid="Base_Column_List"/>
        from reserve
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete
        from reserve
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Reserve" useGeneratedKeys="true">
        insert into reserve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="time != null">time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="time != null">#{time},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Reserve">
        update reserve
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="doctorId != null">
                doctor_id = #{doctorId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>